Package: luci-app-gl-portable-backup
Version: {{VERSION}}
Depends: libc, luci-base
Source: luci-app-gl-portable-backup
Section: luci
Architecture: all
Maintainer: RemoteToHome Consulting <https://remotetohome.io>
License: Apache-2.0
Installed-Size: {{ISIZE}}
Description: Portable configuration backup and restore for GL.iNet routers
